.background {
  background-color: black;
  color: white;
  padding: 16px;
  border-radius: 8px;
}

.container {
  display: flex;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.leftContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.rightContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signUpFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
  max-width: 300px;
  margin: 0 auto;
}